html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'Barlow';
}

.homepage {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Barlow';

}

.home-banner {

    height: 100%;

}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-40%, -40%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-aciktim {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FDC913;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;

}

.baslik {
    color: white;
    font-size: 40px;
}