.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CE2829;
    height: 100px;


}

.header-logo {
    text-align: center;

}

.nav-links a {
    text-decoration: none;
    color: black;
    padding-bottom: 100px;

}



/* main page */
.container {
    display: flex;
    max-width: 580px;
}

.container-first {
    display: flex;
    flex-direction: column;

}

.description {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    gap: 100px;
}

.form1 {
    display: flex;
    justify-content: space-between;
}

.radio {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.size-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f8f6f3;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    transition: background-color 1s;
}

input[type="radio"] {
    display: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="radio"]:checked+.size-label {
    background-color: #FDC913;
}

.radio div {
    display: flex;
    align-items: center;
    gap: 5px;

}

/* ek malzemeler */

.ek-malzemeler {
    columns: 3;

}

.ek-items {
    display: flex;
    align-items: center;
    gap: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;

    color: #444;
}

.ek-items input {
    display: none;

}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: #f8f6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: background-color 0.3s;
}

/* Seçili olduğunda kutunun rengi ve içindeki tik işareti */
.ek-items input:checked+.custom-checkbox {
    background-color: #f4c542;

    transform: scale(1.1);
}

/* Tik işareti */
.ek-items ::after {
    content: "✔";
    font-size: 16px;
    color: white;
    display: none;
}

.ek-items input:checked+.custom-checkbox::after {
    display: block;
}

/* adSoyad */
.adSoyad {
    display: flex;
    flex-direction: column;

}

.adSoyad input {


    height: 60px;
    background-color: #f8f6f3;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #444;
    transition: background-color 1s;
}

.adSoyad input:hover {
    background-color: #FDC913;
    color: #CE2829;
}

/* thickness */
.thickness {
    display: flex;
    flex-direction: column;
}

.thickness-label {
    height: 60px;
    background-color: #f8f6f3;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #444;
    transition: background-color 0.3s;
}

/* Siparis Notu */
.textarea {


    width: 100%;
    height: 50px;
    background-color: #f8f6f3;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #444;
    transition: background-color 0.3s;
}

.textarea:hover {
    background-color: #bae7eb;
    color: #CE2829;

}

.checkout {
    display: flex;
    justify-content: space-between;

}

.order-btn {
    display: flex;
    height: 40px;
    position: relative;
}

.erorrs-btn {
    padding-top: 10px;
}

.order-btn button {
    background-color: #FDC913;
    width: 40px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.count {
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5F5F5F;
    border-radius: 5px;

}


.hesaplama {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    width: 60%;
    background-color: #FAF7F2;
    border: none;
    cursor: pointer;
    color: #444;

}

.secimler {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.toplam {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    font-weight: bold;
}

.siparis-btn {
    border: none;
    background-color: #FDC913;
    height: 40px;
    width: 100%;
}

/* errors */
.errors {
    color: #CE2829
}